<div class="container">
  <div class="row">
    <div class="col">
      <div class="row justify-content-center">
        <h1 style="border-bottom: 4px solid;">Computer</h1>
      </div>


      <div class="col" style="margin-top: 20px;">
        <div class="row">

          <button style="margin-right: 10px;" class="btn btn-primary" type="button" data-toggle="collapse"
            data-target="#menu" aria-expanded="false" aria-controls="menu" style="margin-left :-120px;">Menu
          </button>



        </div>
        <div class="row">
          <button style="margin-right: 10px; margin-left: -120px;" (click)="cancelDate()" class="btn btn-primary"
            type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample">
            Tutti Hardware
          </button>
          <div class="justify-content-end" style="width:970px">
            <input type="text" class="form-control" placeholder="Cerca.." #ValueInput aria-label=""
              aria-describedby="basic-addon1" [(ngModel)]="DataFiltre">
          </div>



        </div>


      </div>
      
        
    


      <div class="row">
        <div class="col-5">
          <div class="collapse" id="menu">
            <div class="card card-body">
              <div class="row">
                <div style="margin-top: 10px;" class="col-md-6">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HwModal">
                    Aggiungi Hardware
                  </button>
                </div>
                <div style="margin-top: 10px;" class="col-md-6 ">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PCModal">
                    Aggiungi Computer
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-6">
        <div class="row">
    
          <div class="col-md-2">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtroCollaps"
              aria-expanded="false" aria-controls="collapseExample">
              Filtre
            </button>
          </div>
    
    
    
          <div style="margin-bottom: 10px;" class="row">
    
            <div class="collapse" id="filtroCollaps">
              <div class="card card-body" style="width: 800px;">
                <div class="row">
                  <div class="col">
                    <button class="btn btn-outline-secondary" type="button" (click)="getALL()">Tutti</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-outline-secondary" type="button" (click)="getConsegne()">Consegne</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-outline-secondary" type="button" (click)="getritiri()">Ritiri</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-outline-secondary" type="button" (click)="getguasti()">Guasti</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-outline-secondary" type="button" (click)="getriparazione()">Riparazione</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-outline-secondary" type="button" (click)="getko()">KO</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-outline-secondary" type="button" (click)="getnuovi()">Nuovi</button>
                  </div>
                </div>
    
              </div>
            </div>
    
          </div>
        </div>
      </div>
      <div class="row">
        <div style="margin-top: 10px; " class="col">
          <div class="collapse multi-collapse" id="collapseExample">
            <div class="card card-body" style="margin-left :-120px;border: none;">
              <button type="button" class="btn btn-info" (click)="HwList()" style="width: 1090px;">Info</button>
              <table class="table" style="width: 1090px;">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Marca</th>
                    <th scope="col">Modello</th>
                    <th scope="col">Cpu</th>
                    <th scope="col">Ram</th>
                    <th scope="col">Memoria</th>
                    <th scope="col">Tipo Di Memoria</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hw of listaHw | filter:DataFiltre">
                    <td>{{hw.marca}}</td>
                    <td>{{hw.modello}}</td>
                    <td>{{hw.Cpu}}</td>
                    <td>{{hw.Ram}}GB</td>
                    <td>{{hw.Memoria}} GB</td>
                    <td>{{hw.Tipo_memoria}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 10px;">
        <table class="table" style="margin-left :-120px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Stato</th>
              <th scope="col">Seriale</th>
              <th scope="col">Inventario</th>
              <th scope="col">Fattura</th>
              <th scope="col">Marca</th>
              <th scope="col">Modello</th>
              <th scope="col">Info</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pc of listaPC | filter:DataFiltre">
              <th scope="row">
                <div *ngIf="pc.consegna;else NonConsegnato">
                  Consegnato
                </div>
                <ng-template #NonConsegnato>
                  <div *ngIf="pc.ritiro;else NonRitirato">
                    Ritirato
                  </div>
                  <ng-template #NonRitirato>
                    <div *ngIf="pc.guasto;else NonGuasto">
                      Guasto
                    </div>
                    <ng-template #NonGuasto>
                      <div *ngIf="pc.riparazione;else NonRiparato">
                        Riparazione
                      </div>
                      <ng-template #NonRiparato>
                        <div *ngIf="pc.ko;else NonKo">
                          Morto
                        </div>
                        <ng-template #NonKo>
                          Nuovo
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </th>
              <td>{{pc.Seriale}}</td>
              <td>{{pc.n_inventario}}</td>
              <td>{{pc.n_fattura}}</td>
              <td>{{pc.marca}}</td>
              <td>{{pc.modello}}</td>
              <td><button [routerLink]="[pc.idpc]" style="border-radius: 50px;" type="button"
                class="btn btn-link"><img style="width: 25px;" src="assets/img/info.png" alt=""></button></td>
              
              
            </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>


  <!-- HwModal -->
  <div class="modal fade" id="HwModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuovo HW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="insertForm" #f="ngForm" (ngSubmit)="f.form.valid && newhw()">
          <div class="modal-body">



            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputMarca">Marca</label>
                <input [(ngModel)]="hw.marca" #Marca="ngModel" type="text" class="form-control" id="inputMarca"
                  [ngModelOptions]="{standalone: true}" maxlength="45" required>
                <div style="color: red;" *ngIf="Marca.invalid">
                  <div *ngIf="Marca.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputModello">Modello</label>
                <input [(ngModel)]="hw.modello" #Modello="ngModel" type="text" class="form-control" id="inputModello"
                  [ngModelOptions]="{standalone: true}" maxlength="45" required>
                <div style="color: red;" *ngIf="Modello.invalid">
                  <div *ngIf="Modello.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCpu">Cpu</label>
                <input type="text" [(ngModel)]="hw.Cpu" #CPU="ngModel" class="form-control" id="inputCpu"
                  [ngModelOptions]="{standalone: true}" maxlength="45" required>
                <div style="color: red;" *ngIf="CPU.invalid">
                  <div *ngIf="CPU.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="inputRam">Ram</label>
                <input type="number" [(ngModel)]="hw.Ram" #RAM="ngModel" min="1" class="form-control" id="inputRam"
                  [ngModelOptions]="{standalone: true}" placeholder="Gb" required>
                <div style="color: red;" *ngIf="RAM.invalid">
                  <div *ngIf="RAM.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3 mb-3">
                <label for="inputMemoria">Memoria</label>
                <input type="number" [(ngModel)]="hw.Memoria" #MEMORIA="ngModel" min="1" class="form-control"
                  [ngModelOptions]="{standalone: true}" id="inputMemoria" required>
                <div style="color: red;" *ngIf="MEMORIA.invalid">
                  <div *ngIf="MEMORIA.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-9">
                <label for="inputTipoDimemoria">Tipo di Memoria</label>
                <input type="text" [(ngModel)]="hw.Tipo_memoria" #TipodiMemoria="ngModel" class="form-control"
                  id="inputTipoDiMemoria" maxlength="45" [ngModelOptions]="{standalone: true}" required>
                <div style="color: red;" *ngIf="TipodiMemoria.invalid">
                  <div *ngIf="TipodiMemoria.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>

            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="clearValori()" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Invio</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <!-- PCModal -->
  <div class="modal fade" id="PCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuovo Pc</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="insertForm" #PCForm="ngForm" (ngSubmit)="PCForm.form.valid && newPc()">
          <div class="modal-body">
            <div class="form-group ">
              <label for="inputState">Hardware</label>
              <select id="inputState" [ngModelOptions]="{standalone: true}" [(ngModel)]="pc.HW_idHW"
                class="form-control">
                <option selected>Choose...</option>
                <option [value]="hw.idHW" *ngFor="let hw of Hw">Marca:{{hw.marca}} Modello:{{hw.modello}} Cpu:{{hw.Cpu}}
                  Ram:{{hw.Ram}}GB Memoria:{{hw.Memoria}}GB Tipo Memoria:{{hw.Tipo_memoria}}</option>
              </select>
            </div>
            <div class="form-row">

              <div class="form-group col-md-6">
                <label for="inputMarca">Seriale</label>
                <input [(ngModel)]="pc.Seriale" #Seriale="ngModel" type="text" class="form-control" id="inputSeriale"
                  [ngModelOptions]="{standalone: true}" maxlength="70" required>
                <div style="color: red;" *ngIf="Seriale.invalid">
                  <div *ngIf="Seriale.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputModello">Numero di Inventario</label>
                <input [(ngModel)]="pc.n_inventario" #Invetario="ngModel" type="text" class="form-control"
                  id="inputInventario" [ngModelOptions]="{standalone: true}" maxlength="45" required>
                <div style="color: red;" *ngIf="Invetario.invalid">
                  <div *ngIf="Invetario.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCpu">Fattura</label>
                <input type="text" [(ngModel)]="pc.n_fattura" #fattura="ngModel" class="form-control" id="inputfattura"
                  [ngModelOptions]="{standalone: true}" maxlength="45" required>
                <div style="color: red;" *ngIf="fattura.invalid">
                  <div *ngIf="fattura.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="inputRam">Data di Acquisto</label>
                <input type="date" [(ngModel)]="pc.data_Acquisto" #Date="ngModel" min="1" class="form-control"
                  id="inputDate" [ngModelOptions]="{standalone: true}" placeholder="Gb" maxlength="8" required>
                <div style="color: red;" *ngIf="Date.invalid">
                  <div *ngIf="Date.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 mb-3">
                <label for="inputMemoria">Note</label>
                <textarea class="form-control" id="Note" [ngModelOptions]="{standalone: true}" [(ngModel)]="pc.note"
                  #NOTE="ngModel" maxlength=500 rows="3"></textarea>
                <div style="color: red;" *ngIf="NOTE.invalid">
                  <div *ngIf="NOTE.errors.required">
                    Campo obbligatorio.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="clearValori()" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Invio</button>
          </div>
        </form>
      </div>
    </div>
  </div>