<div class="container">
  <div style="margin-top: 50px;" class="col">
    <div *ngIf="User">
      <div class="row">
        <div>
          <h2 style="border-bottom: 5px solid ;">{{User.Nome_Admin}} {{User.Cognome_Admin}} </h2>
        </div>
      </div>
      <div class="row" style="margin-top:10px">
        <div class="col">
          <div class="row">
            <h5>Email: {{User.email}} </h5>
          </div>
          <div class="row">
            <h5>Username: {{User.username}} </h5>
          </div>
          <div class="row">
            <h5>Ruolo: {{User.RUOLO}} </h5>
          </div>
          <div class="row">
            <div  style="margin-right: 10px;"> 
              <div *ngIf="User.Admin_Status;else nonAdmin">
                <h5>Accesso alla Sede:Tutte</h5>

            </div> 
            </div>
            <ng-template  #nonAdmin> 
              <div>
                <h5>Accesso alla Sede: 
                  <a style="margin-right: 10px;" *ngFor="let s of item">{{s.SEDE}}</a>
                </h5>  
              </div> 
            </ng-template>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
