<div class="container">
  <div *ngIf="DateUser.Admin_Status;else Admin" class="col">
    <div class="row">
      <div style="margin-top: 30px;" *ngFor="let all of ListSedie" class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <button class="btn btn-link" [routerLink]="[ all.idSEDE]">
            <img *ngIf="all.idSEDE==1" src="../../../assets/img/Pn.jpg" style="width:260px;height:150px;">
            <img *ngIf="all.idSEDE==2" src="../../../assets/img/Screenshot (3).png" style="width:260px;height:150px;">
            <img *ngIf="all.idSEDE==3" src="../../../assets/img/trieste.jpg" style="width:260px;height:150px;">
            <img *ngIf="all.idSEDE==4" src="../../../assets/img/sede_Pacassi_6_1.jpg" style="width:260px;height:150px;">
            <img *ngIf="all.idSEDE==5" src="../../../assets/img/Screenshot (5).jpg" style="width:260px;height:150px;">
            <img *ngIf="all.idSEDE==6" src="../../../assets/img/Screenshot (8).png" style="width:260px;height:150px;">
            <div class="card-body">
              <h2 class="card-text">{{all.SEDE}}</h2>
            </div>
          </button>
          <button type="button" name="sedie_Id" [value]="all.idSEDE" (click)="sedie_Id =Sedie_ID.value" #Sedie_ID
            id="sedie_Id" data-toggle="modal" data-target="#staticBackdrop" class="btn btn-link">
            <img style="width: 35px; " src="assets/img/settings.png" alt="" srcset="">
          </button>
        </div>
      </div>

      <div style="margin-top: 30px;" class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <button type="button" name="sedie_Id" id="sedie_Id" data-toggle="modal" data-target="#NewSede"
            class="btn btn-link">
            <img src="../../../assets/img/office-building-icon_247120.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-text">New Sede</h2>
            </div>
            <div class="col"><img style="width: 35px; " src="assets/img/settings.png" alt="" srcset=""></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #Admin>
  <div class="col-md-auto">
    <div class="row">
      <div style="margin-top: 30px;" *ngFor="let s of sede_Acces" class="col-md-auto">
        <button [routerLink]="[s.IdSede]" class="card" style="width: 18rem;">
          <img *ngIf="s.IdSede==1" src="../../../assets/img/Pn.jpg" style="width:260px;height:150px;">
          <img *ngIf="s.IdSede==2" src="../../../assets/img/ial.jpg" style="width:260px;height:150px;">
          <img *ngIf="s.IdSede==3" src="../../../assets/img/trieste.jpg" style="width:260px;height:150px;">
          <img *ngIf="s.IdSede==4" src="../../../assets/img/sede_Pacassi_6_1.jpg" style="width:260px;height:150px;">
          <img *ngIf="s.IdSede==5" src="../../../assets/img/Screenshot (5).jpg" style="width:260px;height:150px;">
          <img *ngIf="s.IdSede==6" src="../../../assets/img/Screenshot (8).png" style="width:260px;height:150px;">
          <div class="card-body">
            <h2 class="card-text">{{s.SEDE}}</h2>
          </div>
        </button>
      </div>
    </div>
  </div>
</ng-template>



<!--Add Admin -->

<form name="insertForm" #f="ngForm" (ngSubmit)="f.form.valid && newUser()">
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Admin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="inputState">Admin</label>
                <select [(ngModel)]="newAdmin.Admin_IdAdmin" #Admin_Id="ngModel" id="inputState" class="form-control"
                  [ngModelOptions]="{standalone: true}">
                  <option selected>Choose...</option>
                  <option [value]="a.idADMIN" *ngFor="let a of Users ">{{a.Nome_Admin}} {{a.Cognome_Admin}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <div class="row">
                  <h5>Accese List</h5>
                </div>
                <div class="row" *ngFor="let all of sede_Acces">
                  <p>{{all.Nome_Admin}} {{all.Cognome_Admin}} {{all.RUOLO}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" (click)="getAll()">Get Admins</button>
          <button type="button" class="btn btn-secondary" (click)="clerList()" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Invio</button>
        </div>
      </div>
    </div>
  </div>
</form>


<!--Add Admin -->

<form name="insertForm" #r="ngForm" (ngSubmit)="r.form.valid && newSede()">
  <div class="modal fade" id="NewSede" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="NewSededropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NewSedepLabel">New Sede</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <Div>
            <label for="NewSede">Nome Sede: </label>
            <div>
              <input [(ngModel)]="NewSede.SEDE" #nomeSede="ngModel" name="newSede" type="text">
            </div>

          </Div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clerList()" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Invio</button>
        </div>
      </div>
    </div>
  </div>
</form>