
<body style="background: linear-gradient(90deg, rgba(116,42,166,1) 0%, rgba(253,29,29,1) 48%, rgba(252,176,69,1) 100%);width: auto;">

  <div>
    <div class="col">
      <div  id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div style="width: auto; height: auto;" class="carousel-inner" >
          <div class="carousel-item active">
            <img src="assets/home/pexels-luis-gomes-546819.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/home/pexels-hitesh-choudhary-693859.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/home/pexels-ken-tomita-389819.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
